<h1>Tigard Sykart Kart Data</h1>
<p>Want to choose which kart to use based on more than an out of date gut feel and hearsay? These are the best lap times achieved on each 6.5hp kart in the last week:</p>
<div style="position:relative;width:100%;height:0;padding-bottom:56.25%"><iframe width="384" height="216" src="https://insights-embed.newrelic.com/embedded_widget/FqzpGr6uVeWCfCAO046RFXGh8bstyVtD" frameborder="0" style="position:absolute;width:80%;height:50%"></iframe></div>