// Place all the styles related to the Races controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#race-data {
  table {
    table-layout: fixed;
    th, td {
      text-align: center;
    }
  }
}
.nickname {
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
}
.hp-4-bg {
  background-color: #6B0070;
}
.hp-6-5-bg {
  background-color: #700000;
}
.hp-9-bg {
  background-color: #000070;
}
.hp-4-fg {
  color: #6B0070;
  font-weight: bold;
}
.hp-6-5-fg {
  color: #700000;
  font-weight: bold;
}
.hp-9-fg {
  color: #000070;
  font-weight: bold;
}