<!DOCTYPE html>
<html>
<head>
  <title>Sykart</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div style="position:absolute; top: 0; right:0; padding: 0.5em 1em;">
  <a href="/races/latest">Race results</a> | <a href="/karts">Kart performance</a>
</div>

<%= yield %>

</body>
</html>
